/* MyList.css */

.item-list {
  list-style: none;
  padding: 0;
  display: grid; /* Change display to grid */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust the column width as needed */
  gap: 20px; /* Adjust the gap between items */
  justify-content: center; /* Center the items horizontally */
}

 .list-item{
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
}

img {
  max-width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.my-list-container {
  padding: 20px;
}


.user-info {
  margin-bottom: 10px;
}

.user-image {
  max-width: 100px;
  max-height: 150px;
}

.title {
  text-align: center;
}

.search-bar {
  text-align: center;
  
}