.app {
 display: flex;
 padding : 0;
}

.navbar {
 width: 15vw;
 height: 100vh;
 padding : 0px !important;

}

.product-list-container {
 width: 85vw;
 height: 100vh;
 overflow: auto;
 margin-left : 20vw;
}
